#main-footer {
    height: auto;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

.f-info {
    /* height: 100%; */
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
    font-size: 20px;
    
}

.f-info-brand,
.f-info-links,
.f-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    /* height: auto; */
}

.f-info-socials i {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 2.1rem;
    color: #062b81;
}



.f-info-links a {
    text-decoration: none;
    color: black;
}


.f-info-socials i:hover {
    color: rgba(255, 0, 0, 0.86);
    transition: 0.5s;
}