body {
    position: absolute;
}

#image-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

.team-image img{
    height: 800px;
    width: 1000px; 
    width: 80%;
    border-radius: 30%;
    margin-bottom: 10px;
}
 .recent-team > .recent-team-name li , .old-team > .old-team-name li{
    line-height: 1.8;
    font-weight: 500;
    font-size: 20px;
} 
.recent-team h1, .old-team h1{
    padding-left: 1rem;
    font-size: 1.9rem;
    color: #062b81;
    font-size: 38px;
    border-bottom: 2px solid  rgba(246, 2, 2, 0.86);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 100px;
    
}
.team-image{
    padding-right: 1rem;
}
.old-team{
  margin: 3rem;
  width: 500px;
}
 .recent-team{
    margin-top: 4rem;
    /* border: 1px solid black;
     border-radius: 10px;
    box-shadow: 3px 3px 3px 0px #000000;  */
}

  
  /* Hover effect for team names */
  .recent-team-name li:hover, .old-team-name li:hover {
    color: #ff4500; /* Change to your desired hover color */
    cursor: pointer;
  }
  