body {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

#image-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    background-color: #fff;
}

.team-image img{
    height: 550px;
    width: 900px;
}
.recent-team > .recent-team-name , .old-team > .old-team-name{
    line-height: 1.8;
}
.recent-team h1, .old-team h1{
    padding-left: 1rem;
    color: #062b81;
    text-decoration:underline;
}
.team-image{
    padding-right: 1rem;
}
.old-team{
  margin: 3rem;
  width: 500px;
}
