body {
    position: absolute;
}

#image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    margin-top: 15rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.team-image img{
    height: 700px;
    width: 1000px; 
    margin-bottom: 10px;
    margin-top: 80px;
    border: 2px solid rgba(246, 2, 2, 0.86);
    border-radius: 10px;
} 
 
.recent-team h1{
    padding-left: 1rem;
    font-size: 1.9rem;
    color: #062b81;
    font-size: 38px;
    border-bottom: 2px solid  rgba(246, 2, 2, 0.86);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 50px;
    
}

 .recent-team{
    margin-top: 4rem;
}
.recent-team-name{
    padding: 20px;
    line-height: 1.8;
    font-weight: 500;
    font-size: 17px;
}
  
  /* Hover effect for team names */
  .recent-team-name li:hover, .old-team-name li:hover {
    color: #ff4500; /* Change to your desired hover color */
    cursor: pointer;
  }
  