
.navbar {
  background-color: #ededed;
  color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7rem;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-navbar {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.banner-image img {
  padding-top: 1.5rem;
  /* padding-left: 1.5rem; */
  margin-left: 4rem;
  max-width: 70px;
  height: 70x;

}

.banner-info {
  padding-left:0.5rem;
  padding-top: 1.5rem;
  /* margin-left: 3rem; */
  line-height: 8px;
  text-decoration: underline;
}

.intro-wrapper {
  margin-top: 2rem;
  max-width: 900px;
  margin-right: 12rem;
  
}



/* media query */
@media screen  and (max-width:550px){
  .navbar{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .left-side-navbar {
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .banner-image img {
    width: auto;
    height: auto;
  
  }
  
  .banner-info {
    line-height: 4px;
    text-decoration: underline;
  }
  
  .intro-wrapper {
   margin-top:-10px;
    max-width: 800px;
    margin-left:30px;
    margin-right: 20px;
    
  }
  
}

@media screen and (min-width:555px) {
  navbar{
    width: auto;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  .navigation-wrapper {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-side-navbar {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .banner-image img {
    padding-top: 10px;
  /* padding-left: 1.5rem; */
  margin-left: 12px;
  width: 60px;
  height: 60x;
  
  }
  
  .banner-info {
    line-height: 6px;
    text-decoration: underline;
  }
  
  .intro-wrapper {
  margin-top: 2rem;
  width: 900px;
  margin-right: 10rem;
  }
}