
#navbar {
  background-color: #ededed;
  color: black;
  padding: 10px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7rem;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-navbar {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.banner-image img {
  padding-top: 1.5rem;
  /* padding-left: 1.5rem; */
  margin-left: 4rem;
  max-width: 70px;
  height: 70x;

}

.banner-info {
  padding-left:0.5rem;
  padding-top: 1.5rem;
  /* margin-left: 3rem; */
  line-height: 8px;
  text-decoration: underline;
}

.intro-wrapper {
  margin-top: 2rem;
  max-width: 900px;
  margin-right: 12rem;
  
}



/* Media queries for responsiveness */
/* @media(max-width: 768px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
  }

  .left-side-navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
  }

  .banner-info {
    margin-left: 1px;
    line-height: 0px;
    text-decoration: underline;
  }

  .intro-wrapper {
    max-width: 900px;
    margin-right: 12rem
  }
}


@media (max-width: 768px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }

  .left-side-navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
  }

  .banner-info {
    margin-left: 1px;
    line-height: 0px;
    text-decoration: underline;
  }

  .intro-wrapper {
    max-width: 900px;
    margin-right: 12rem
  }
}

/* Media queries for small screens */
/* @media (max-width: 576px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }

  .left-side-navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .banner-info {
    margin-left: 1px;
    line-height: 0px;
    text-decoration: underline;
  }

  .intro-wrapper {
    max-width: 900px;
    margin-right: 12rem
  }
} */

/* Media queries for medium screens */
/* @media (min-width: 577px) and (max-width: 992px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    opacity: 1.0;
  }

  .left-side-navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 13rem;
  }

  .banner-info {
    margin-left: 1px;
    line-height: 0px;
    text-decoration: underline;
  }

  .intro-wrapper {
    max-width: 900px;
    margin-right: 12rem
  }
} */

/* Media queries for large screens */
/* @media (min-width: 993px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }

  .left-side-navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .banner-info {
    margin-left: 10px;
    line-height: 4px;
    text-decoration: underline;
  }

  .intro-wrapper {
    max-width: 68%;
    margin-right: 10rem;
  }

  .banner-image img {
    max-width: 75px;
    height: 75x;

  }
} */ 