.navbar {
  background-color: #ededed;
  color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 7rem;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-navbar {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.banner-image img {
  padding-top: 1.5rem;
  /* padding-left: 1.5rem; */
  margin-left: 4rem;
  max-width: 70px;
  height: 70x;

}

.banner-info {
  padding-left: 0.5rem;
  padding-top: 1.5rem;
  /* margin-left: 3rem; */
  line-height: 8px;
  text-decoration: underline;
}

.intro-wrapper {
  margin-top: 2rem;
  max-width: 900px;
  margin-right: 12rem;

}



/* media query */
@media screen and (max-width:550px) {
  .navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .left-side-navbar {
    margin-left: -25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .banner-image img {
    width: auto;
    height: auto;

  }

  .banner-info {
    text-decoration: underline;
  }

  .intro-wrapper {
    margin-top: -10px;
    max-width: 800px;
    margin-left: 30px;
    margin-right: 20px;

  }

}


/* for minimum 555px screen */
@media screen and (min-width:555px) and (max-width:1000px) {
  navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .navigation-wrapper {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }

  .left-side-navbar {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .banner-image img {
    padding-top: 20px;
    margin-left: 15px;
    width: 50px;
    height: 50x;

  }

  .banner-info {
    
    text-decoration: underline;
    margin-right: 10px;
  }

  .intro-wrapper {
    margin-top: 20px;
    width: 700px;
    margin-right: 30px;
  }
}


/* for maximum 1100 ya below this 1100 px */
@media screen and (max-width:1100px) {
  navbar {
    width: auto;
    height: 25px;
    margin: 0;
    padding: 0;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-side-navbar {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .banner-image img {
    padding-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 70x;

  }

  .banner-info {
    line-height: 8px;
    text-decoration: underline;
  }

  .intro-wrapper {
    margin-top: 20px;
    width: 900px;
    margin-right: 50px;
  }
}


 /* for min 1000 px */
@media screen and (min-width:1000px) {
  navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .left-side-navbar {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .banner-image img {
    padding-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 70x;

  }

  .banner-info {
    line-height: 8px;
    text-decoration: underline;
  }

  .intro-wrapper {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 50%;
  }
}

/* for min 1300px */
@media screen and (min-width:1100px) {
  navbar {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .navigation-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .left-side-navbar {
    display: flex;
    align-items: center;
    margin-left: -5px;
  }

  .banner-image img {
    padding-top: 20px;
    width: 70px;
    height: 70x;

  }

  .banner-info {
    line-height: 8px;
    text-decoration: underline;
  }

  .intro-wrapper {
    width: auto;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 100px;
  }
}
