body{
    background-color:#ebebeb;
    
}
.project-content{
    background-color: #062b81;
    padding: 10px;
    border: 2px solid #062b81;
    border-radius: 10px;
}

.project-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 15px;
    background-color:#fff;
}
.project-img img {
    
    width: 900px;
    height: 500px; 
    margin: 23px 40px 0px -100px;
    border: 1px solid #062b81;
    border-radius: 20px;
}

.project-overview  p{
   
    padding:2rem 1.5rem; 
    line-height: 2;
    font-size: 20px;
} 

.image-container {
    position: relative;
}
.projects{
    background-color: #fff;
    padding-left: 20px;
   
}