body{
    background-color: #ebebeb;
}
.body-conatiner {
    background-color: #ebebeb;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 8rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    
}

.project-img{
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
}
.project-img img {
    float: left;
    width: 500px;
    height: 500px; 
    margin: 23px 40px 20px 0px;
    border: 1px solid #cea135;
}

.project-overview  p{
   
    /* padding:2rem 1.5rem; */
    line-height: 2;
    font-size: 20px;
} 

.image-container {
    position: relative;
}
