
#body {
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    min-height: 900px;
    max-height: 100vh;
    box-shadow:
    10px 0 5px -5px rgba(0, 0, 0, 0.3),/* Right shadow */
    -10px 0 5px -5px rgba(0, 0, 0, 0.3);/* Left shadow */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    font-family: 'Noto Sans', sans-serif;
    
  }
  .team-intro{
    margin-top: 210px;
    padding-top: 50px;
  }
  .team-intro p{
    font-size: 18px;
    line-height: 1.5; 
   
  }

  .team-member{
    font-size: 18px;
    line-height: 1.5; 
  }
  .team-member ul{
    margin-left: 13px;
  }

  .events-container h2{
    text-decoration: underline;
    color:#062b81;
  }
  .events-container i{
    font-size: 25px;
  }
  .group-photo img{
    width: 1060px;
    height: 550px;
    border-radius: 15px;
    border: 2px solid  rgba(158, 5, 5, 0.86);
  }
  
  .team-intro,.events-container, .group-photo{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
  }

  .events-container i:hover{
    color:rgba(158, 5, 5, 0.86) ;
    cursor: pointer;
    transition: 0.5s;
  }