.footer{
   /* position: relative; */
   margin-right: 180px;
   height: auto;
   bottom: 0;
   width: 100vw;
   opacity: 0.5;
   height: 30px;
}

.footer-content {
   background-color:#cbcbcb;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 17px;
    width: 70%; 
    margin-left: 290px;
    margin-right: 90px;
    margin-top: 50px;
   height: 40px;
   font-size: 19px;
   font-weight: 600;
}


.footer-link{
    padding: 2px;
}
.footer-link a{
    text-decoration: none;
    color: black;
}
.footer-link a:hover{
    color: rgba(255, 0, 0, 0.86);
    transition: 0.5s;
}







 



