.footer{
   margin-right: 180px;
   height: auto;
   position: relative; 
   bottom: 0;
   left: 0;
}

.footer-content {
   background-color: aquamarine;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 17px;
}


.footer-link{
    background-color: bisque;
    padding: 2px;
}
.footer-link a{
    text-decoration: none;
    color: black;
}








 



