#body {
    min-height: 900px;
    margin: 0;
    padding: 0;
    margin-top: -210px; 
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
} 

.image-container {
    min-height: 900px;
    max-height: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-body-container{
    padding: 5px;
}
.middle-body-container p{
 font-size: 18px;
 line-height: 1.5; 
}
.body-content-container{
    font-size: 19px;
}



.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slide{
    width: 20%;
    transition: 4s;
}
.slide img {
    width: 800px;
    height: 500px;
}

.slides input {
    display: none; 
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgba(230, 65, 65, 0.86);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgba(230, 65, 65, 0.86);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

#radio6:checked ~ .first {
    margin-left: -100%;
}

#radio7:checked ~ .first {
    margin-left: -120%;
}

#radio8:checked ~ .first {
    margin-left: -140%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid rgba(230, 65, 65, 0.86);
    padding: 5px;
    border-radius: 10px;
    transition: 4s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background:rgba(230, 65, 65, 0.86);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:rgba(230, 65, 65, 0.86);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background:rgba(230, 65, 65, 0.86);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background:rgba(230, 65, 65, 0.86);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background:rgba(230, 65, 65, 0.86);
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background:rgba(230, 65, 65, 0.86);
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background:rgba(230, 65, 65, 0.86);
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background:rgba(230, 65, 65, 0.86);
}


.body-content-container {
    margin-top: 200px; 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 900px;
    max-height: auto;
    box-shadow: 
    10px 0 5px -5px rgba(0, 0, 0, 0.3), /* Right shadow */
   -10px 0 5px -5px rgba(0, 0, 0, 0.3); /* Left shadow */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: 16px;
}  
/* .image-scroll-container{
    width:auto;
    height:auto; 
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overflow-x: auto;
    overscroll-behavior-inline:contain;
    padding:0 4px 0 4px ;
    /* margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 3px grey;
    position: relative;  } 
/* .slide > img{
     width: 380px;
    height: 400px; 
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    /* position: absolute; */

/* .slide{
    display: grid;
    grid-template-rows: min-content;
    gap: 10px;
    padding: 5px;
    background: 3px;
    border-radius: 2px solid black;
}  */