.body{
    margin-top: 230px; 
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    min-height: 900px;
    max-height: auto;
    box-shadow: 
    10px 0 5px -5px rgba(0, 0, 0, 0.3), /* Right shadow */
   -10px 0 5px -5px rgba(0, 0, 0, 0.3); /* Left shadow */
   background-color: red;
}