.body{
    margin-top: 230px; 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 900px;
    max-height: auto;
    box-shadow: 
    10px 0 5px -5px rgba(0, 0, 0, 0.3), /* Right shadow */
   -10px 0 5px -5px rgba(0, 0, 0, 0.3); /* Left shadow */
}
.inner-body{
    
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #ebebeb;
}
.inner-body:hover{
    cursor: pointer;
}