#body {
    align-items: center;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 2.0rem;
    font-family: 'Noto Sans', sans-serif;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow:
        10px 0 5px -5px rgba(0, 0, 0, 0.3),
        -10px 0 5px -5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    min-height: 900px;
    max-height: auto;
    padding: 20px 20px;
}

.faculty-name img,
.recent-team-name img,
.old-team-name img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow:
        2px 5px 2px 3px rgba(0, 0, 0, 0.3),
        3px 3px 3px 5px rgba(0, 0, 0, 0.3);

}
.recent-team-name{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.old-team-name{
    margin-top: 20px;
    margin-left: 20px;
}
.faculty-name h4,
.recent-team-name h4,
.old-team-name h4{
    color: blue;
    font-size: 16px;
}
.faculty-name p,
.recent-team-name p,
.old-team-name p{
    color: red; 
}

h1{
   margin-left: 20px;
   color: #062b81;
}

a{
text-decoration: none;
}

.faculty-name-container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
}
.recent-team-name-container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.old-team-name-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
}
