#body {
  width: 60%;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  height: 100vh;
  min-height: 900px;
  max-height: auto;
  box-shadow:
  10px 0 5px -5px rgba(0, 0, 0, 0.3),/* Right shadow */
  -10px 0 5px -5px rgba(0, 0, 0, 0.3);/* Left shadow */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
   
}

.projects-link {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ebebeb;
}
.project-links-bar{
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 20%;
  height: 40px;
  opacity: 0.9;
}

.projects-container {
  margin-top: 200px;
  padding-top: 30px;
}
.projects-container h2{
  padding-bottom: 7px;
  margin-right: 60%;
  min-width: 35%;
  text-align: center; 
  margin-left: 40px;
  border-bottom: 4px solid rgba(185, 4, 4, 0.86) ; 
}

.projects-link a {
  text-decoration: none;
  color:  rgba(158, 5, 5, 0.86); 
  font-size: 18px;
  font-weight: 600;
}

.links {
  padding: 6px;
}

.project-content {
  width: 50%;
}

.project-heading {
  color: #062b81;
  font-size: 18px;
}

.project-info p {
  font-size: 18px;
  line-height: 1.5;
}
.project-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 90px;
  height: 50px;
}

.separation-vertical-left {
   float: left; 
  width: 49.5%;
  margin-bottom: 50px;
  /* border-right: 2px solid grey;  */
  margin-top: 30px;
}

.separation-vertical-right {
  margin-top: 30px;
  float: right;
  width: 49.5%;
  margin-bottom: 50px;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
 background-color: #ebebeb;
 border-radius: 15px;
}

.left-side a,
.right-side a {
  text-decoration: none;
  color: black;
}

.left-side h5,
.right-side h5 {
  color: #062b81;
  font-size: 17px;
}

.image-container {
  width: 20%;
}
.project-overview{
  margin-left: 20px;
}


.projects-link a:hover{
  color: #0d1833;
  transition: 0.5s;
  text-decoration: underline;
  cursor: pointer;
}
.btn{
  margin-left: 85%;
}
/* media query */
