.projects-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left:290px;
    margin-right: 90px;
    background-color:rgb(249, 93, 93);
    margin-top: 10px;
    height: 25px;
  }
 .projects-container{
    width: 70%;
    margin-left:290px;
    margin-right: 90px;
    margin-top: 250px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
 }
.project-content{
  width: 50%;
  background-color: darkcyan;
}
 .projects {
  margin-bottom: 0.4rem;
  /* border-bottom: 1px solid #424242; */
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 10px;

}

.project-info h2 {
  color: #062b81;
  font-size: 26px;
}

.project-info p {
  font-size: 18px;
  line-height: 1.5;
}
img {
  width: 75px;
  height: 50px;
}


/* 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
} */