.projects-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left:290px;
    margin-right: 90px;
    background-color:rgb(249, 93, 93);
    margin-top: 10px;
    height: 25px;
  }
 .projects-container{
  width: 70%;
    margin-left:290px;
    margin-right: 90px;
 }