#body {
    width: 100vw;
    margin-left: auto;
    margin-right:auto;
    font-family: 'Noto Sans', sans-serif;
   
}
.books-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 900px;
    max-height: auto;
    box-shadow: 
    10px 0 5px -5px rgba(0, 0, 0, 0.3), 
   -10px 0 5px -5px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
    padding-top: 20px;
    background-color: #ebebeb;
}
.info{
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    background-color:#fff;
    background-color: #ebebeb;
    padding-left: 20px;
    margin-bottom: 30px;
}
.info h1{
    font-size: 33px;
}



.books-title h3{
    color: #040e21;
}
.books-container a{
    text-decoration: none;
}
.card-text {
    color: red;
}



/* card */
.card-books{
    border:none !important;
    /* margin-bottom: 2rem; */
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height:25rem !important;
}
.card-body{
 width: 370px;
 height: 150px;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card effects */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.book-row{
  padding: 30px;
}
